.popup__button {
    line-height: 22px;
    margin-block-start: 31px; 
    block-size: 50px;
    inline-size: 100%;
    border: none;
    border-radius: 2px;
    color: #fff;
    background: #000;
    cursor: pointer;
    transition: visibility 0s, background 0.3s;
    font-size: 18px;
}

.popup__button:hover {
    background: rgba(0 0 0 / 0.8);
}

.popup__content_type-delete-card .popup__button {
  margin-block-start: 38px;
}

.popup__button_disabled {
    border: 1px solid rgba(0 0 0 / 0.2);
    color: rgba(0 0 0 / 0.2);
    background-color: transparent;
    pointer-events: none;   
}