@import url('./__delete-button/card__delete-button.css');
@import url('./__description/card__description.css');
@import url('./__description/__title/card__title.css');
@import url('./__description/__wrapped-like/card__wrapped-like.css');
@import url('./__description/__wrapped-like/__like-button/card__like-button.css');
@import url('./__description/__wrapped-like/__like-counter/card__like-counter.css');
@import url('./__image-button/card__image-button.css');
@import url('./__image-button/__image/card__image.css');

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    color: #000;
}