.profile__image-button {
    position: relative;
    block-size: 100%;
    inline-size: 100%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.profile__image-button::before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    block-size: 100%;
    inline-size: 100%;
    border-radius: 50%;
    opacity: 0;
    background-color: #000;
    content: '';
    transition: opacity 0.3s linear;
}

.profile__image-button:hover::before {
    opacity: 0.8;
}

.profile__image-button::after {
  position: absolute;
  z-index: 1;
  block-size: 26px;
  inline-size: 26px;
  inset-block-start: 47px;
  inset-inline-end: 47px;
  opacity: 0;
  background: url("../../../../../images/edit-icon.svg") no-repeat center / cover;
  content: '';
  transition: opacity 0.3s linear; 
}

.profile__image-button:hover::after {
    opacity: 1;
}