.profile__info {
    display: grid;
    grid-template-areas: "title edit-button"
                         "description description";
    grid-template-columns: fit-content(295px) auto;
    grid-gap: 16px;
}