.profile__edit-button {
    align-self: center;
    block-size: 24px;
    inline-size: 24px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: transparent url("../../../../../images/edit-icon.svg") center no-repeat;
    background-size: 10px;
    cursor: pointer;
    transition: 0.3s;
    grid-area: edit-button;
}

.profile__edit-button:hover {
    opacity: 0.6;
}